name: Build Android APK
on:
  push:
    branches: [main, master]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - run: npm install
      - run: npm run build
      
      # This part handles the icons on the server
      - name: Generate Icons
        run: |
          npx @capacitor/assets generate --android
          
      - name: Initialize Android if missing
        run: |
          if [ ! -d "android" ]; then
            npx cap add android
          fi
      - run: npx cap sync android
      - name: Build with Gradle
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: LocalTrack-Pro-APK
          path: android/app/build/outputs/apk/debug/app-debug.apk
